<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Hi, I’m <%= name %></h1>
    <p>This is Ankit Gupta & this  app runs on Google Kubernetes Engine via GitLab CI/CD!</p>
  </div>
</body>
</html>

